body {
font-family: 'Roboto', sans-serif;
max-width: 1140px;
margin: 0 auto 1.6em;}

.top-navigation {
background-color: #fff;
margin-top: 0em;
position: relative;
width: 100%;}

.top-navigation > .content {
width: 95%;
height: 130px; margin: 0 auto;}

.top-navigation .links {
float: right;
color: #838994;
font-size: 16px;
margin-top: 93px;}

.top-navigation .links li {
display: inline-block;
margin-left: 25px;}

.top-navigation .logo {
padding-top: 25px}

.top-navigation .links .active {
color: #4c5058;
font-weight: 500;}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #4c5058;
    font-weight: bold;}

.background-image {
background-image: url(../images/dog-man.jpg);
background-size: cover;
background-repeat: none;
height: 700px;}

.press {
padding-top: 5px;
font-size: 22px;
text-align: center;}

.press-logos > li {
display: inline-block;
width: 18%;}

.press-logos {
padding-left: 0em;
margin-top: -10}

.press h2 {
font-size: 22;
font-style: italic;
font-weight: lighter;
color: #838994;}

.status {
padding-top: 0px;
text-align: center;
background-color: #9976b5;
color: white;}

.status h2 {
font-size: 72px;
margin: 15;}

.status p {
font-size: 20px;}

.breakout > li {
display: inline-block;
width: 30%;}

.breakout {padding-left: 0em}

.description {
text-align: center;
margin-top: 50px;}


.description h2 {
font-size: 22;
color: #3c3b3c;
font-weight: normal;
font-style: italic;
text-transform: uppercase; }

.description p {
font-size: 16;
color: #838994;
font-weight: normal;
max-width: 80%}

.social .icons > li {
display: inline-block;
width: 2.5rem;
padding: 0.625rem 0;
padding-left: 0;
text-align: center;}

.social .icons {
padding-left: 0;}

.social {
text-align: center;
padding-top: 0px;
text-align: center;
background-color: #9976b5;
color: white;}

.social h2 {
padding-top: 15;
}
